#This file is automaticaly generated
#MODIFY AT YOUR OWN RISK
INPUT TEXT
top_left:
x: 202
y: 705
bottom_left:
x: 202
y: 824
top_right:
x: 901
y: 705
bottom_right:
x: 901
y: 824
taille:
x: 699
y: 119

BUTTON CREATE
top_left:
x: 1225
y: 362
bottom_left:
x: 1225
y: 475
top_right:
x: 1705
y: 362
bottom_right:
x: 1705
y: 475
taille:
x: 480
y: 113

BUTTON JOIN
top_left:
x: 1225
y: 532
bottom_left:
x: 1225
y: 645
top_right:
x: 1705
y: 532
bottom_right:
x: 1705
y: 645
taille:
x: 480
y: 113

BUTTON SETTINGS
top_left:
x: 1225
y: 702
bottom_left:
x: 1225
y: 815
top_right:
x: 1705
y: 702
bottom_right:
x: 1705
y: 815
taille:
x: 480
y: 113
